body{
	text-align: center;
	background-color: #3a4972;
	color: whitesmoke;
}
a{
	text-decoration: none;
	color: whitesmoke;
	font-size: 30px;
	padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 355px;
    margin-right: 355px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(57,77,174);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}